<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/</directory>
			<exclude>*/*</exclude>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>